body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #1a093c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

button {
  cursor: pointer;
  box-shadow: none;
  border: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
